<!-- the reason why you use post in the loop and not posts is because you're referencing
each post separately, no need to use @ -->
<% @posts.each do |post| %>
	<h2> <%= post.title %> </h2>
	<div> <%= truncate(post.body, :length => 35) %></div>
	<br>
	<%= link_to "Read Post", post %>
<% end %>

